COLD EMAIL OUTREACH.json
{
  "name": "COLD EMAIL OUTREACH",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        -144
      ],
      "id": "317548d2-bea3-4ba0-91ae-2f2bf683caed",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1UdDm_6KzIo4xRiXSbETI_08dzIZqYgEBXvOrx0E3_Q4",
          "mode": "list",
          "cachedResultName": "email outreach",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UdDm_6KzIo4xRiXSbETI_08dzIZqYgEBXvOrx0E3_Q4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UdDm_6KzIo4xRiXSbETI_08dzIZqYgEBXvOrx0E3_Q4/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        224,
        -144
      ],
      "id": "1ea02b35-e515-46ad-b788-b06d3327f71c",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "rXW83ZNd5EHikafT",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8caf95e2-41ca-4838-ac1c-40d1dc2c45e0",
              "leftValue": "={{ $json.Status }}",
              "rightValue": "SENT",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        448,
        -144
      ],
      "id": "0bee7b57-65b4-4c24-9f48-35b5c1776580",
      "name": "If"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        672,
        -144
      ],
      "id": "397450ec-4d5d-441a-886e-bf86c57470b8",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1UdDm_6KzIo4xRiXSbETI_08dzIZqYgEBXvOrx0E3_Q4",
          "mode": "list",
          "cachedResultName": "email outreach",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UdDm_6KzIo4xRiXSbETI_08dzIZqYgEBXvOrx0E3_Q4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1837591909,
          "mode": "list",
          "cachedResultName": "Sheet2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UdDm_6KzIo4xRiXSbETI_08dzIZqYgEBXvOrx0E3_Q4/edit#gid=1837591909"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        896,
        -336
      ],
      "id": "48e70c8a-439d-4398-8683-8663ffabc987",
      "name": "Get row(s) in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "rXW83ZNd5EHikafT",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get templates from previous node\nconst templates = items.map(item => item.json);\n\n// Check if templates exist\nif (!templates || templates.length === 0) {\n  throw new Error('No templates found');\n}\n\n// Pick a random template\nconst index = Math.floor(Math.random() * templates.length);\nconst template = templates[index];\n\n// Convert body to HTML\nconst bodyHtml = template.Body.replace(/\\n/g, '<br>');\n\n// Return in n8n-compatible format\nreturn [\n  {\n    json: {\n      subject: template.Subject,\n      body: bodyHtml\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        -336
      ],
      "id": "757467ea-31e4-4c0a-b811-0f75fb0409ad",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1344,
        -272
      ],
      "id": "6171be5a-0bf3-46d8-b528-3f3474726a01",
      "name": "Merge",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5126ea64-7503-400f-83d4-6e9251e04d69",
              "name": "body",
              "value": "={{\n  $json.body\n    .replace(/\\[Owner \\/ Manager\\]/g, $json[\"Owner / Manager\"] && $json[\"Owner / Manager\"].trim() !== '' ? $json[\"Owner / Manager\"].trim() : \"there\")\n    .replace(/\\[Business Name\\]/g, $json[\"Business Name\"] && $json[\"Business Name\"].trim() !== '' ? $json[\"Business Name\"].trim() : \"there\")\n}}",
              "type": "string"
            },
            {
              "id": "f278edde-5bd1-47f1-955b-05383065dc62",
              "name": "subject",
              "value": "={{ $json.subject.replace(/\\[Business Name\\]/g, $json[\"Business Name\"] && $json[\"Business Name\"].trim() !== '' ? $json[\"Business Name\"].trim() : \"there\") }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1568,
        -272
      ],
      "id": "039444d3-e01a-4102-96c9-63777b79a4cb",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.Email }}",
        "subject": "={{ $json.subject }}",
        "message": "={{ $json.body }}",
        "options": {
          "appendAttribution": false,
          "senderName": "DEVESH BANOTE"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1792,
        -192
      ],
      "id": "ef5f2841-8c05-4448-9af2-6a4f96ac98dd",
      "name": "Send a message",
      "webhookId": "1cd5a108-26a0-4467-afb1-5284305e9319",
      "credentials": {
        "gmailOAuth2": {
          "id": "Q86TXz9xWs80fv8n",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2016,
        -320
      ],
      "id": "3398f1f6-37d8-4f96-a920-335dd11c8640",
      "name": "Merge1"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1UdDm_6KzIo4xRiXSbETI_08dzIZqYgEBXvOrx0E3_Q4",
          "mode": "list",
          "cachedResultName": "email outreach",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UdDm_6KzIo4xRiXSbETI_08dzIZqYgEBXvOrx0E3_Q4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UdDm_6KzIo4xRiXSbETI_08dzIZqYgEBXvOrx0E3_Q4/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ $json.Email }}",
            "Status": "={{ $json.labelIds[0] }}",
            "Notes": "={{ new Date().toLocaleTimeString(\"en-GB\", { timeZone: \"Asia/Kolkata\", hour12: false }) }}\n"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Business Name",
              "displayName": "Business Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "City",
              "displayName": "City",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Contact Number",
              "displayName": "Contact Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Website",
              "displayName": "Website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Owner / Manager",
              "displayName": "Owner / Manager",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "FB Page",
              "displayName": "FB Page",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "IG Page",
              "displayName": "IG Page",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2240,
        -320
      ],
      "id": "5c4e2a91-721e-45b4-b120-6a34414ca40d",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "rXW83ZNd5EHikafT",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2016,
        -80
      ],
      "id": "5b35b393-7894-4dae-9be5-e4162eea9482",
      "name": "Wait",
      "webhookId": "96a76c65-340d-4012-a21d-3b3b88f5b43b"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Get row(s) in sheet1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          },
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2f8162c6-ca44-4a3d-bbd6-4710881eb366",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "28b77369c5b9413b0df7388580a9e3c41d51fa7ccefaadd5db38efbc53ed5103"
  },
  "id": "WJMiYSd8siqMUUd6",
  "tags": []
}